:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #717171;
	--color-light-grey: #c1c1c1;
	--color-highlight: #adff2f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: var(--color-dark-color);
font-family: 'Montserrat', sans-serif;
color: var(--color-grey);
}
/* UTILITY */
.debug{
    border: 5px solid white;
}

.flexer{
    display: flex;

}

.align-center{
    align-items: center;
    align-content: center;
}

.flex-end{
    justify-content: flex-end;
}
.flex-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-grey);
}


/* container */
.wrapper{
    width: 100%;
    height: 100vh;

}
main{
    width: 100%;
    height: calc(100% - 90px);
}
#side-bar{
    width: 250px;
    background-color:var(--color-black);
}
#main-content{
    width:calc(100% - 250px);
    overflow-y: auto;
    padding: 90px 10px 0px 10px;
}

.square{
    width: 45px;
    height: 45px;
    background-color: var(--color-light-grey);
}
/* container */

/* side-bar */
#side-bar{
    min-height: 250px;
}
.top-bar{
    height: calc(100% - 80px);
    overflow: hidden;
}
#side-bar img{
    width: 55%;
}
.logo-piciulo{
    width: 30%;
    display: none;
}
#side-bar span{
    font-weight: 700;
}

/* playlist */
.playlist{
    height: 53%;
    /* overflow: hidden; */
}
.playlist ul{
    font-weight: 700;
    overflow-y: auto;
    height: 80%;

}
.square i{
    padding-left: 10px;
    color: var(--color-black);
    font-size: 1.5em;
    margin: 10px auto;
}
/* playlist footer */
.playlist-footer{
    border-color: var(--color-grey);
    height: 80px;

}
.playlist-footer a{
    font-weight: 700;
}

.profile-pic i{
    background-color: var(--color-light-grey);
    border-radius: 50%;
    padding: 1px 2px;
    margin-right: 5px;
    overflow: hidden;
}
.profile-pic{
    font-weight: 700;
}

/* side-bar */


/* call-to-action */
#call-to-action{
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 250px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
}

#call-to-action a{
    border: 1px solid var(--color-white);
    border-radius: 20px;
    color: var(--color-white);
    padding:8px 25px;
    transition: all 0.1s;
}
#call-to-action a:hover{
    transform: scale(1.05);
}
/* call-to-action */


/* playbar */
#playbar{
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
}
/* playbar */


/* text */
.text-center{
    text-align: center;
}
.titles-color{
    color: var(--color-white);
}
.m-font{
    font-size: 0.7em;
}
.s-font{
    font-size: 0.6em;
}


/* padding */
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}


/* margin */
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-section{
    margin-bottom: 40px;
}
.mr-10{
    margin-right: 10px;
}
/* main-content */
/* top-list */
#top-list li{
    font-weight: 700;
    transition: all 0.01s;
}
#top-list li:hover{
    color: var(--color-white);
}
.green-underline{
    margin-left: 25px;
    width: 30%;
    border-color: var(--color-highlight);
}

/* Recently*/
.album{
    gap: 15px;
}
.cover{
     width: calc(100% / 6 - 15px);
}

.card img{
    width: 100%;
}

.card-content div{
    font-weight: 700;
}

/* music for you */
#most-popular-artists img{
    border-radius: 50%;
}
/* main-content */

/* playbar */
#playbar{

    padding: 20px 10px;
}
/* playleft */
.play-left{
    width: 250px;
}

.play-left span{
    display: block;
    margin-right: 20px;
}
.play-left .square{
    margin-right: 10px;
}
/* platright */
.play-right{
    width: 250px;
}
.play-right li{
    margin-right: 15px;
}
.slidecontainer{
    -webkit-appearance: none;
    width: 100%;
    accent-color: var(--color-highlight);
}
/* playcenter */

.play-center{
    width: 40%;
}
.play-center li{
    margin-right: 15px;
}

.play-center li:nth-child(3){
    font-size: 1.8em;
    margin-right: 30px;
    margin-left: 15px;
}

.play-center input[type="range" i]  {
    -webkit-appearance: auto;
    height: 4px;
    margin:  10px;
    border: none;
    width: 400px;
}

.play-center input[type=range]::-webkit-slider-thumb {
    transform: scale(0.6);
}

.play-right input[type="range"]{
    -webkit-appearance: auto;
    height: 4px;
}

.play-right input[type=range]::-webkit-slider-thumb {
    transform: scale(0.6);
}
/* playbar */


/* medium query */


@media screen and (max-width:1200px) {
    .wrap{
        flex-wrap: wrap;
    }
    .cover{
        width: calc(100% / 4 - 15px);
    }
}


@media screen and (max-width:992px) {
   .cover{
        width: calc(100% / 3 - 15px);
   } 
   
 
}

@media screen and (max-width:768px) {
    .cover{
        width: calc(100% / 2 - 15px);
    }
}

@media screen and (max-width:576px) {
    .cover{
        width: calc(100% / 2 - 15px);
    }
    #side-bar{
        width: 50px;
        
    }
    #main-content{
    width:calc(100% - 50px)
    }

    .span-nono span{
        display: none;
    }

    #side-bar .logo-piciulo{
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }

    #call-to-action{
        width: calc(100% - 50px);
    }

    .logo{
        display: none;
    }

    .playlist{
        display: none;
    }

    .playlist-footer hr, span {
        display: none;
    }

    .playlist-footer {
        margin: 11px 10px;
        padding: 0;

    }

    .span-nono{
        padding: 0;
    }
    .span-nono ul{
        padding: 15px 15px;
        font-size: 1.2em;
    }
    
    .icon-sizer{
        padding: 0px 10px;
    }
    .profile-pic i{
        padding: 1px 2px;
        margin-left : 5px;
        font-size: 1.2em;
    }

  
    .play-center{
        width: 180px;
    }
    .play-left{
        width: 280px%;
    }
    .play-right input{
        display: none;
    }
}